@use "modules/_variables" as *;
@use "modules/_mixin" as *;



/*========= サイト共通 ===============*/
.noScroll {
    overflow: hidden;
}

.wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.section {
    margin: 20% 0 30% 0;

    &:nth-last-child(1) {
        margin: 20% 0 15% 0;
    }

    &__wrapper {
        // background-color: #c08080;
        width: 90%;
        margin: 0 auto;
    }

    &__head {
        text-align: center;
    }

    &__ttl {
        @include rem(38);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__description {
        @include rem(28);
        font-weight: bold;
    }

    &__contents {
        // background-color: #738fea;
        width: 90%;
        margin: 0 auto;
    }

    &__link {
        text-align: center;
    }
}

.btn {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px 40px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
    text-decoration: none !important;

    &--solid {
        box-shadow: 2px 2px 0 0 #000;
        border-radius: 7px;

        &:hover {
            transform: translate(2px, 2px);
            box-shadow: none;
        }
    }
}


/*========= ヘッダー ===============*/
.header {
    width:100%;
    color:#fff;
    text-align: center;
    position: fixed;


    &.fixed {
        top: -70px;  
        height: 70px;
        line-height: 70px;
        font-size: 2em;
        box-sizing: border-box;
        transition: .5s; /* アニメーションタイミング */

        &.is-show {
            top: 0;
            padding-top: 30px;
        }
    }

    &__wrapper {
    }

    &__humburger {
        width:50%;
        position: relative;
    }

    &__ttl {
        @include rem(42);
        text-align: start;
        font-family: $font-yugothic;
        // font-family: $font-hiragino;
    }
}


/*========= ハンバーガー ===============*/
.humburger {

    /*========= ハンバーガーボタン ===============*/
    &__btn {
        position: fixed;
        z-index: 9999;/*ボタンを最前面に*/
        top: 25px;
        // right: 10%;
        right: -80px;
        cursor: pointer;
        width: 80px;
        height: 80px;
        background: #999;
        border-radius: 50%;
        transition: all 0.6s;
        
        &.is-show {
            right: 10%;
        }
    
        /*×に変化*/	
        & span {
            display: inline-block;
            transition: all .4s;
            position: absolute;
            right: 15px;
            height: 2px;
            border-radius: 2px;
            background-color: #fff;
    
            &:nth-of-type(1) {
                top: calc(50% - 10px);
                width: 60%;
            }
    
            &:nth-of-type(2) {
                top: 50%;
                width: 37.5%;
            }
    
            &:nth-of-type(3) {
                top: calc(50% + 10px);
                width: 25%;            
            }
        }
    
        &.active {
            border-radius: 50% 0 0 50%;
            right: 300px;

            & span {
                &:nth-of-type(1) {
                    transform: translateY(6px) rotate(-45deg);
                    width: 60%;
                }
    
                &:nth-of-type(2) {
                    opacity: 0;
                }
    
                &:nth-of-type(3){
                    top: 45px;
                    transform: translateY(-6px) rotate(45deg);
                    width: 60%;
                }
            }
        }
    
    }


    /*========= ハンバーガーメニュー ===============*/
    &__menu {
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position:fixed;
        z-index: 9999;
        /*ナビのスタート位置と形状*/
        top:0;
        right: -120%;
        width: 300px;
        height: 100vh;/*ナビの高さ*/
        background:#999;
        /*動き*/
        transition: all 0.6s;


        /*アクティブクラスがついたら位置を0に*/
        &.active {
            right: 0;
        
            /*ナビゲーションの縦スクロール*/
            & #humburger-bg {
                /*ナビの数が増えた場合縦スクロール*/
                position: fixed;
                z-index: 9999; 
                width: 300px;
                height: 100vh;/*表示する高さ*/
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }

        /*ナビゲーション*/
        & ul {
            /*ナビゲーション天地中央揃え*/
            position: absolute;
            z-index: 9999;
            top:50%;
            left:40%;
            transform: translate(-50%,-50%);

            /*リストのレイアウト設定*/
            & li {
                list-style: none;
                text-align: start;

                & a{
                    color: #333;
                    text-decoration: none;
                    padding:10px;
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: bold;
                }
            }
        }
    }


    /*========= ハンバーガーメニュー ===============*/
    &__cover {
        &.active {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
            background: rgba(3,3,3,.5);
            display: block;
        }
    }
}



/*========= メインビジュアル ===============*/
.mainvisual {
    background-image: url(https://placehold.jp/1920x1080.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;

    &__wrapper {
        // background-color: #fff;
        margin: auto;
        width: 90%;
        max-width: 1100px;
        text-align: center;
    }
    &__ttl {
        color: #111;
        @include rem(36);
    }
}



/*========= メインコンテンツ ===============*/
main {
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;

    &.isTop {
        & article {
            width: 100%;
        }

        & aside {
            display: none;
        }
    }
}

article {
    width: 67%;
    // padding: 10% 0;
    // border: 1px solid #064c03;
    // background-color: #c5d6c4;

    /*========= メインコンテンツ ===============*/
    #about {
        .about {
            &__contents {
                display: flex;
                justify-content: center;
            }
            &__img {
                max-width: 400px;
                width: 45%;
                margin-right: 30px;
                padding: 75px 0 0 0;

                & img {
                    width: 100%;
                }
            }
            &__txt {
                margin-left: 30px;
                width: 45%;
                padding: 50px 0 0 0;

                & h3 {
                    @include rem(32);
                    font-weight: bold;
                    margin-bottom: 40px;
                }
                & p {
                    margin-bottom: 60px;
                    line-height: 2;
                }
            }
        }
    }

    #service {
        .service {
            &__contents{
                margin: 3% 0;
                display: flex;
                justify-content: center;

                & li {
                    max-height: 330px;
                    max-width: 370px;
                    width: 30%;
                    
                    &:nth-child(2) {
                        margin: 0 5%;
                    }
                    // background-color: #e2c9c9;
                }
            }

            &__head {
                text-align: center;
                margin-bottom: 20px;
                height: 30%;

                & h3 {
                    @include rem(28);
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                & p {
                    @include rem(14);
                }
            }

            &__body {
                height: 70%;

                & figure {
                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #work {
        .work {
            &__contents {
                margin: 3% 0;
                display: flex;
                justify-content: center;

                & li {
                    max-width: 370px;
                    width: 30%;
                    text-align: center;
                    
                    &:nth-child(2) {
                        margin: 0 5%;
                    }
                }
            }

            &__img {
                margin-bottom: 15px;
                & img {
                    width: 100%;
                }
            }

            &__description {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.modal {
    display: none;

    &__content {
        display: flex;
        justify-content: center;
    }

    &__txt {
        width: 48%; 
        & .modal__description {
            &:nth-child(2) {
                margin-bottom: 50px;
            }
        }
    }
    &__ttl {
        @include rem(24);
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }

    &__img {
        width: 48%;
        & img {
            width: 100%;
        }
    }

}

.modaal {
    &-container {
        width: 90%;
        max-width:1200px;
    }
    &-close {
        &:after, 
        &:before {
            background: #ccc;
        }

        &:focus {
            &:after,
            &:before {
                background: #666;
            }
        }

        &:hover {
            &:after,
            &:before {
                background: #666;
            }
        }
    }
}

aside {
    width: 27%;
    padding: 10% 0;
    border: 1px solid #000;
    background-color: #9299cc;
}


/*========= フッター ===============*/
.footer {
    & .cta {
        padding: 5% 0;

        &__ttl {
            @include rem(32);
            font-weight: bold;
            text-align: center;
        }

        &__link {
            margin: 3% 0;
            text-align: center;
        }
    }

    & .copyright {
        color:#fff;
        background: #666;
        text-align: center;
        padding: 20px;
    }
}