/*========= カラー ===============*/
$color-black: #333;
$color-white: #fff;
$color-gray: #999;


/*========= フォント ===============*/
$font-main: 'Noto Sans JP', sans-serif;
$font-en: 'Oswald', sans-serif;


/*========= フォント ===============*/
$en-letter-spacing: .1em;


/*========= ブレイクポイント ===============*/
$tb: 768px; //タブレット
$mb: 559px; //スマホ


/*========= 幅 ===============*/
$wrapper-width: 90%;
$humburgerMenu-width: 500px;