/*========= カラー ===============*/
$color-black: #333333;
$color-white: #ffffff;



/*========= フォント ===============*/
//-->ヒラギノver.
$font-hiragino: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
//-->游ゴシックver.
$font-yugothic:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;


/*========= ブレイクポイント ===============*/
$tb: 959px; //タブレット
$mb: 559px; //スマホ